@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand img{
    width: 50px;
    border-radius: 50%;
}




#quotes .card{
    transition: all 0.1s linear;
}
#quotes .card:hover{
    transform: scale(1.01);
    background-color: black;
    color: white;
}

@media (max-width:1000px) {

    .carousel {
        display:none !important;
    }

    #quotes h2{
        display: none;
    }

    .navbar .offcanvas-body ul li .quotes{
        display: none;
    }
}